<mat-toolbar class="headerBg d-flex justify-content-space-between align-items-center">
    <div class="d-flex align-items-center">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <span class="ml10"><a href="" routerLink="">Performance Tracker</a></span>
    </div>
    <ul class="main-menu">
        <li> <a href="" routerLink="">Home</a></li>
        <li> <a href="" routerLink="add-review">Add Review</a></li>
        <li> <a href="" routerLink="view-all-reviews">View All Reviews</a></li>
    </ul>
</mat-toolbar>