<div class="d-flex align-items-center">
    <h2>Code Review Form</h2>
    <em class=" error-message ml20"> - to be filled by reviewer and QA together</em>
</div>

<form [formGroup]="addReviewForm" (ngSubmit)="showValues()">
    <table aria-describedby="review form table">
        <th>
            <tr>
                <td [width]="1000"></td>
            </tr>
        </th>
        <tr>
            <!-- <td><input type=" text" id="firstName" formControlName="firstName"> -->
            <td>
                <mat-form-field appearance="outline">
                    <mat-label>Developer Name</mat-label>
                    <mat-select formControlName="devId" id="devId">
                        <mat-option value="1">Rahul Mishra</mat-option>
                        <mat-option value="2">Prashant Mane</mat-option>
                        <mat-option value="3">Sumedh Ugade</mat-option>
                        <mat-option value="4">Monika Mohan</mat-option>
                        <mat-option value="5">Ashwini</mat-option>
                    </mat-select>
                </mat-form-field>

            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field appearance="outline">
                    <mat-label>Project - Jira ID (Story)</mat-label>
                    <input matInput formControlName="projectName" />
                </mat-form-field>

            </td>
        </tr>
        <tr>
            <td>
                <mat-label>Is the code optimized</mat-label>
                <mat-radio-group aria-label="Select an option" formControlName="codeOptimization">
                    <mat-radio-button value="1">1</mat-radio-button>
                    <mat-radio-button value="2">2</mat-radio-button>
                    <mat-radio-button value="3">3</mat-radio-button>
                    <mat-radio-button value="4">4</mat-radio-button>
                    <mat-radio-button value="5">5</mat-radio-button>
                </mat-radio-group>
            </td>
        </tr>
        <tr>
            <td>
                <mat-label>ESLint Test Passed</mat-label>
                <mat-radio-group aria-label="Select an option" formControlName="esLintPassed">
                    <mat-radio-button value="true">Yes</mat-radio-button>
                    <mat-radio-button value="false">No</mat-radio-button>
                </mat-radio-group>

            </td>
        </tr>
        <tr>
            <td>
                <mat-label>Patch File Created & Branch Frozen</mat-label>
                <mat-radio-group aria-label="Select an option" formControlName="patchProcess">
                    <mat-radio-button value="true">Yes</mat-radio-button>
                    <mat-radio-button value="false">No</mat-radio-button>
                </mat-radio-group>
            </td>
        </tr>
        <tr *ngIf="addReviewForm.controls.patchProcess.value && addReviewForm.controls.patchProcess.value === 'true'">
            <td>
                <mat-form-field appearance="outline">
                    <mat-label>Frozen branch name</mat-label>
                    <input matInput formControlName="frozenBranchName" />
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field appearance="outline">
                    <mat-label>Number Of Bugs</mat-label>
                    <input matInput formControlName="numberOfBugs" />
                </mat-form-field>
            </td>
        </tr>
        <tr *ngIf="addReviewForm.controls.numberOfBugs.value && addReviewForm.controls.numberOfBugs.value >  0">
            <td>

                <mat-form-field appearance="outline">
                    <mat-label>Bug Sheet Google Drive URL</mat-label>
                    <input matInput formControlName="bugSheetUrl" />
                </mat-form-field>
            </td>
        </tr>
        <tr *ngIf="addReviewForm.controls.numberOfBugs.value && addReviewForm.controls.numberOfBugs.value >  0">
            <td>

                <mat-form-field appearance="outline">
                    <mat-label>Quality Of Bugs</mat-label>
                    <mat-select formControlName="qualityOfBugs">
                        <mat-option value="1">Mostly UI</mat-option>
                        <mat-option value="2">Mostly Functional</mat-option>
                        <mat-option value="0">Both</mat-option>
                    </mat-select>
                </mat-form-field>

            </td>
        </tr>
        <tr>
            <td>

                <mat-form-field>
                    <mat-label>What went good</mat-label>
                    <textarea matInput formControlName="goodReview"></textarea>
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field>
                    <mat-label>What went bad</mat-label>
                    <textarea matInput formControlName="badReview"></textarea>
                </mat-form-field>

            </td>
        </tr>
        <tr>
            <td>
                <mat-label>Gut feeling of overall code quality (optional)</mat-label>
                <mat-radio-group aria-label="Select an option" formControlName="gutFeeling">
                    <mat-radio-button value="1">1</mat-radio-button>
                    <mat-radio-button value="2">2</mat-radio-button>
                    <mat-radio-button value="3">3</mat-radio-button>
                    <mat-radio-button value="4">4</mat-radio-button>
                    <mat-radio-button value="5">5</mat-radio-button>
                </mat-radio-group>


            </td>
        </tr>
        <button mat-raised-button color="primary" type="submit" [disabled]="addReviewForm.invalid">
            Save
        </button>
    </table>
</form>

<!-- ++ > {{existingReviews}} -->
<!-- <div>
    <table>
        <tr *ngFor="let item of existingReviews; let i = index">
            <td>{{item.firstName}}</td>
            <td><button (click)="deleteRecord(item)">Delete</button></td>
        </tr>
    </table>
</div> -->